Andrea Gamarra Lopez - 20221939

In [2]:
# 1) Integrar los archivos que están el folder comprimido
# primero subo los archivos
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving level4.xlsx to level4.xlsx
Saving level3.xlsx to level3.xlsx
Saving level2.xlsx to level2.xlsx
Saving level1.xlsx to level1.xlsx

In [22]:
# Asigno un nombre a cada archivo, pero para el level1 solo
# quiero el encabezado a partir de la fila 4
level1 = pd.read_excel('level1.xlsx', header = [4])
level2 = pd.read_excel('level2.xlsx')
level3 = pd.read_excel('level3.xlsx')
level4 = pd.read_excel('level4.xlsx')

# Cada documento tiene columnas en común, solo en 3 de ellas (level1,level2,level3) tendríamos que
# quitar dos filas que no correspondrían al encabezado
# la fila de 2021 será agregada después
# level 4 sería la especie de "base" para este caso
level4

,HDI rank,Country,Unnamed: 2,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,le
0,160,Tanzania (United Republic of),LOW HUMAN DEVELOPMENT,0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,LOW HUMAN DEVELOPMENT,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,LOW HUMAN DEVELOPMENT,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,LOW HUMAN DEVELOPMENT,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,LOW HUMAN DEVELOPMENT,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,LOW HUMAN DEVELOPMENT,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,LOW HUMAN DEVELOPMENT,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,LOW HUMAN DEVELOPMENT,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,LOW HUMAN DEVELOPMENT,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,LOW HUMAN DEVELOPMENT,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,LOW HUMAN DEVELOPMENT,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,LOW HUMAN DEVELOPMENT,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,LOW HUMAN DEVELOPMENT,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,LOW HUMAN DEVELOPMENT,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,LOW HUMAN DEVELOPMENT,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,LOW HUMAN DEVELOPMENT,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,LOW HUMAN DEVELOPMENT,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,LOW HUMAN DEVELOPMENT,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,LOW HUMAN DEVELOPMENT,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),LOW HUMAN DEVELOPMENT,0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,LOW HUMAN DEVELOPMENT,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,LOW HUMAN DEVELOPMENT,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,LOW HUMAN DEVELOPMENT,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,LOW HUMAN DEVELOPMENT,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,LOW HUMAN DEVELOPMENT,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,LOW HUMAN DEVELOPMENT,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,LOW HUMAN DEVELOPMENT,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,LOW HUMAN DEVELOPMENT,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,LOW HUMAN DEVELOPMENT,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,LOW HUMAN DEVELOPMENT,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,LOW HUMAN DEVELOPMENT,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,LOW HUMAN DEVELOPMENT,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [23]:
# Para level1:
level1 = level1.drop(level1.index[[0,1]])
level1.reset_index(drop=True, inplace=True)
level1

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1,Unnamed: 15
0,1.0,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5.0,NaN,3.0,VERY HIGH HUMAN DEVELOPMENT
1,2.0,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6.0,NaN,1.0,VERY HIGH HUMAN DEVELOPMENT
2,3.0,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11.0,NaN,2.0,VERY HIGH HUMAN DEVELOPMENT
3,4.0,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6.0,NaN,4.0,VERY HIGH HUMAN DEVELOPMENT
4,5.0,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18.0,NaN,5.0,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62.0,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8.0,NaN,61.0,VERY HIGH HUMAN DEVELOPMENT
62,63.0,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT
63,63.0,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
64,63.0,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
65,66.0,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT

In [24]:
# Para el level2:
level2 = level2.drop(level2.index[[0,1]])
level2.reset_index(drop=True, inplace=True)
level2

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Unnamed: 6,Gross national income (GNI) per capita,Unnamed: 8,GNI per capita rank minus HDI rank,Unnamed: 10,HDI rank.1
0,67.0,Albania,0.796,76.4626,14.448000,11.286455,e,14131.110390,NaN,17.0,NaN,68.0
1,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,NaN,23078.955950,NaN,-8.0,NaN,64.0
2,68.0,Grenada,0.795,74.9362,18.662020,9.032104,l,13483.577400,NaN,18.0,NaN,70.0
3,70.0,Barbados,0.790,77.5714,15.713385,9.852701,n,12306.341000,NaN,26.0,NaN,71.0
4,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,j,16792.365950,NaN,2.0,NaN,71.0
5,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,NaN,25830.617750,NaN,-17.0,NaN,69.0
6,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,NaN,12578.220550,NaN,21.0,NaN,75.0
7,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,NaN,15241.914650,NaN,4.0,NaN,73.0
8,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,l,23358.332120,NaN,-16.0,NaN,76.0
9,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,e,13000.711700,NaN,15.0,NaN,77.0
10,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,n,13255.509770,NaN,11.0,NaN,78.0
11,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,NaN,15917.752830,NaN,-3.0,NaN,79.0
12,79.0,China,0.768,78.2107,14.236115,7.600118,n,17504.399690,NaN,-8.0,NaN,82.0
13,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,o,17989.600370,NaN,-11.0,NaN,82.0
14,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,NaN,14875.331890,NaN,-1.0,NaN,81.0
15,80.0,Palau,0.767,66.0204,15.784320,12.491430,p,13818.678690,NaN,5.0,NaN,80.0
16,83.0,Cuba,0.764,73.6829,14.443060,12.497734,e,7878.847482,q,37.0,NaN,73.0
17,84.0,Peru,0.762,72.3769,15.387734,9.885519,e,12245.893660,NaN,13.0,NaN,85.0
18,85.0,Armenia,0.759,72.0431,13.116760,11.330300,NaN,13157.993900,NaN,4.0,NaN,87.0
19,86.0,Mexico,0.758,70.2127,14.864440,9.221050,NaN,17896.294980,NaN,-16.0,NaN,88.0
20,87.0,Brazil,0.754,72.7504,15.599060,8.128814,e,14369.888480,NaN,-5.0,NaN,86.0
21,88.0,Colombia,0.752,72.8296,14.442750,8.862860,NaN,14384.356660,NaN,-7.0,NaN,88.0
22,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,NaN,11961.087920,NaN,11.0,NaN,82.0
23,90.0,Maldives,0.747,79.9182,12.635610,7.322000,NaN,15448.127880,NaN,-14.0,NaN,97.0
24,91.0,Algeria,0.745,76.3767,14.626896,8.069284,e,10800.225460,NaN,13.0,NaN,96.0
25,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,NaN,14256.744560,NaN,-8.0,NaN,100.0
26,91.0,Tonga,0.745,70.9857,16.048571,11.392594,n,6822.031250,NaN,34.0,NaN,90.0
27,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,NaN,13020.715500,NaN,-1.0,NaN,93.0
28,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,NaN,10311.632730,NaN,11.0,NaN,99.0
29,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,NaN,10588.225320,NaN,9.0,NaN,90.0
30,97.0,Egypt,0.731,70.2207,13.786500,9.573026,e,11731.690560,NaN,4.0,NaN,97.0
31,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,e,10257.544770,NaN,10.0,NaN,94.0
32,99.0,Fiji,0.730,67.1140,14.736790,10.921548,e,9980.110866,NaN,9.0,NaN,94.0
33,99.0,Suriname,0.730,70.2743,13.035644,9.776801,m,12672.200330,NaN,-6.0,NaN,92.0
34,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,NaN,7916.785725,NaN,18.0,NaN,107.0
35,102.0,Dominica,0.720,72.8140,13.319186,8.142186,j,11487.624220,NaN,0.0,NaN,106.0
36,102.0,Jordan,0.720,74.2563,10.646560,10.446680,NaN,9923.714974,NaN,8.0,NaN,104.0
37,104.0,Libya,0.718,71.9112,12.854280,7.599985,r,15335.712000,NaN,-27.0,NaN,117.0
38,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,NaN,12349.286000,NaN,-10.0,NaN,100.0
39,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,NaN,6582.899416,NaN,21.0,NaN,109.0
40,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,NaN,12048.303810,NaN,-7.0,NaN,104.0
41,108.0,Guyana,0.714,65.6734,12.502722,8.617477,NaN,22464.657340,NaN,-47.0,NaN,107.0
42,109.0,South Africa,0.713,62.3410,13.643710,11.373160,NaN,12948.373250,NaN,-17.0,NaN,102.0
43,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,e,8834.475670,NaN,4.0,NaN,110.0
44,111.0,Samoa,0.707,72.7675,12.418859,11.403800,NaN,5307.953374,NaN,24.0,NaN,112.0
45,112.0,Gabon,0.706,65.8210,12.977310,9.436000,NaN,13366.934550,NaN,-25.0,NaN,113.0
46,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,l,9525.831467,NaN,-1.0,NaN,103.0
47,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,NaN,11466.068360,NaN,-11.0,NaN,116.0
48,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,NaN,7867.371345,NaN,6.0,NaN,113.0

In [25]:
# Para el level3:
level3 = level3.drop(level3.index[[0,1]])
level3.reset_index(drop=True, inplace=True)
level3

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1
0,116.0,Philippines,0.699,NaN,69.2664,NaN,13.126570,NaN,8.969100,NaN,8920.428468,NaN,-3.0,NaN,113.0
1,117.0,Botswana,0.693,NaN,61.1409,NaN,12.265138,e,10.340000,NaN,16198.318410,NaN,-43.0,NaN,110.0
2,118.0,Bolivia (Plurinational State of),0.692,NaN,63.6304,NaN,14.946971,NaN,9.827750,NaN,8111.190194,NaN,0.0,NaN,119.0
3,118.0,Kyrgyzstan,0.692,NaN,69.9774,NaN,13.195300,NaN,11.374106,n,4566.303831,NaN,26.0,NaN,121.0
4,120.0,Venezuela (Bolivarian Republic of),0.691,NaN,70.5536,NaN,12.816080,p,11.107277,e,4810.882621,t,20.0,NaN,118.0
5,121.0,Iraq,0.686,NaN,70.3779,NaN,12.087473,s,7.905593,m,9977.249073,NaN,-12.0,NaN,122.0
6,122.0,Tajikistan,0.685,NaN,71.5942,NaN,11.653036,e,11.333394,n,4547.742427,NaN,23.0,NaN,126.0
7,123.0,Belize,0.683,NaN,70.4697,NaN,12.991690,NaN,8.847600,NaN,6309.099778,NaN,6.0,NaN,120.0
8,123.0,Morocco,0.683,NaN,74.0419,NaN,14.151910,NaN,5.916000,NaN,7302.819170,NaN,1.0,NaN,122.0
9,125.0,El Salvador,0.675,NaN,70.7479,NaN,12.671348,o,7.150930,NaN,8295.665889,NaN,-8.0,NaN,124.0
10,126.0,Nicaragua,0.667,NaN,73.8368,NaN,12.641358,o,7.144000,NaN,5624.793595,NaN,6.0,NaN,129.0
11,127.0,Bhutan,0.666,NaN,71.8150,NaN,13.225005,e,5.170262,e,9437.541512,NaN,-15.0,NaN,125.0
12,128.0,Cabo Verde,0.662,NaN,74.0518,NaN,12.554614,e,6.287719,p,6230.200199,NaN,2.0,NaN,127.0
13,129.0,Bangladesh,0.661,NaN,72.3811,NaN,12.441980,NaN,7.379060,NaN,5472.104781,NaN,4.0,NaN,128.0
14,130.0,Tuvalu,0.641,NaN,64.5466,NaN,9.404430,e,10.573108,NaN,6351.435899,NaN,-2.0,NaN,131.0
15,131.0,Marshall Islands,0.639,NaN,65.2688,NaN,10.239320,NaN,10.883140,NaN,4619.535393,NaN,12.0,NaN,131.0
16,132.0,India,0.633,NaN,67.2398,NaN,11.874620,NaN,6.655109,n,6589.980037,NaN,-6.0,NaN,130.0
17,133.0,Ghana,0.632,NaN,63.7954,NaN,12.047780,NaN,8.329887,n,5744.504017,NaN,-2.0,NaN,135.0
18,134.0,Micronesia (Federated States of),0.628,NaN,70.7100,NaN,11.549480,j,7.804956,l,3696.173945,NaN,22.0,NaN,136.0
19,135.0,Guatemala,0.627,NaN,69.2368,NaN,10.562450,NaN,5.681300,NaN,8723.285317,NaN,-20.0,NaN,133.0
20,136.0,Kiribati,0.624,NaN,67.4172,NaN,11.801993,NaN,7.984462,s,4062.586034,NaN,14.0,NaN,137.0
21,137.0,Honduras,0.621,NaN,70.1229,NaN,10.132814,o,7.088480,NaN,5297.955301,NaN,-1.0,NaN,138.0
22,138.0,Sao Tome and Principe,0.618,NaN,67.5912,NaN,13.365385,NaN,6.215599,m,4021.350815,NaN,13.0,NaN,139.0
23,139.0,Namibia,0.615,NaN,59.2690,NaN,11.927207,u,7.192013,n,8633.504452,NaN,-23.0,NaN,134.0
24,140.0,Lao People's Democratic Republic,0.607,NaN,68.0608,NaN,10.136110,NaN,5.374000,NaN,7699.579617,NaN,-18.0,NaN,142.0
25,140.0,Timor-Leste,0.607,NaN,67.7369,NaN,12.616098,p,5.436790,NaN,4460.869435,NaN,7.0,NaN,140.0
26,140.0,Vanuatu,0.607,NaN,70.4490,NaN,11.535315,e,7.064846,v,3085.411633,NaN,23.0,NaN,142.0
27,143.0,Nepal,0.602,NaN,68.4495,NaN,12.886950,NaN,5.121793,n,3877.315444,NaN,10.0,NaN,144.0
28,144.0,Eswatini (Kingdom of),0.597,NaN,57.0657,NaN,13.744346,e,5.596000,NaN,7678.591873,NaN,-21.0,NaN,141.0
29,145.0,Equatorial Guinea,0.596,NaN,60.5943,NaN,9.734940,l,5.910863,j,12073.959930,NaN,-47.0,NaN,147.0
30,146.0,Cambodia,0.593,NaN,69.5835,NaN,11.467720,w,5.088000,NaN,4078.697154,NaN,3.0,NaN,148.0
31,146.0,Zimbabwe,0.593,NaN,59.2531,NaN,12.110969,e,8.710909,e,3809.887158,NaN,9.0,NaN,145.0
32,148.0,Angola,0.586,NaN,61.6434,NaN,12.172100,NaN,5.417391,NaN,5465.617791,NaN,-14.0,NaN,149.0
33,149.0,Myanmar,0.585,NaN,65.6716,NaN,10.909138,e,6.376800,NaN,3850.524234,NaN,5.0,NaN,145.0
34,150.0,Syrian Arab Republic,0.577,NaN,72.0627,NaN,9.164220,NaN,5.100000,l,4191.933893,x,-2.0,NaN,152.0
35,151.0,Cameroon,0.576,NaN,60.3334,NaN,13.108599,e,6.151310,n,3620.932408,NaN,6.0,NaN,150.0
36,152.0,Kenya,0.575,NaN,61.4270,NaN,10.698558,u,6.652000,NaN,4473.570344,NaN,-6.0,NaN,150.0
37,153.0,Congo,0.571,NaN,63.5187,NaN,12.330815,e,6.166000,NaN,2889.283521,NaN,11.0,NaN,153.0
38,154.0,Zambia,0.565,NaN,61.2234,NaN,10.928760,w,7.187091,n,3217.767739,NaN,7.0,NaN,154.0
39,155.0,Solomon Islands,0.564,NaN,70.3477,NaN,10.328690,e,5.711848,s,2481.511362,NaN,13.0,NaN,155.0
40,156.0,Comoros,0.558,NaN,63.4174,NaN,11.924324,e,5.078649,l,3142.064119,NaN,6.0,NaN,156.0
41,156.0,Papua New Guinea,0.558,NaN,65.3506,NaN,10.360771,u,4.740000,NaN,4008.623573,NaN,-4.0,NaN,157.0
42,158.0,Mauritania,0.556,NaN,64.3636,NaN,9.376160,NaN,4.918805,n,5075.305711,NaN,-20.0,NaN,158.0
43,159.0,Côte d'Ivoire,0.550,NaN,58.5983,NaN,10.675580,NaN,5.199139,n,5217.448516,NaN,-22.0,NaN,159.0

In [26]:
# antes de integrar las tablas, debemos de encontrar las columnas en común y colocarlas como una sola para todas
level1_columns = set(level1.columns)
level2_columns = set(level2.columns)
level3_columns = set(level3.columns)
level4_columns = set(level4.columns)
common_columns = list(level1_columns & level2_columns & level3_columns & level4_columns)
common_columns

['Mean years of schooling',
 'Gross national income (GNI) per capita',
 'Country',
 'GNI per capita rank minus HDI rank',
 'Human Development Index (HDI) ',
 'HDI rank',
 'Expected years of schooling',
 'Life expectancy at birth']

In [67]:
# estas columnas en común se agregar a las tablas y las integro
level1 = level1[common_columns]
level2 = level2[common_columns]
level3 = level3[common_columns]
level4 = level4[common_columns]
data_integrada = pd.concat([level1,level2,level3,level4],axis=0)
data_integrada

,Mean years of schooling,Gross national income (GNI) per capita,Country,GNI per capita rank minus HDI rank,Human Development Index (HDI),HDI rank,Expected years of schooling,Life expectancy at birth
0,13.85966,66933.00454,Switzerland,5.0,0.962,1.0,16.500299,83.9872
1,13.00363,64660.10622,Norway,6.0,0.961,2.0,18.1852,83.2339
2,13.76717,55782.04981,Iceland,11.0,0.959,3.0,19.163059,82.6782
3,12.22621,62606.8454,"Hong Kong, China (SAR)",6.0,0.952,4.0,17.27817,85.4734
4,12.72682,49238.43335,Australia,18.0,0.951,5.0,21.05459,84.5265
...,...,...,...,...,...,...,...,...
27,3.129267,731.786709,Burundi,4.0,0.426,187.0,10.722722,61.6627
28,4.334,966.058611,Central African Republic,1.0,0.404,188.0,8.040172,53.8947
29,2.116717,1239.866936,Niger,-3.0,0.4,189.0,6.957112,61.5763
30,2.573774,1364.169417,Chad,-7.0,0.394,190.0,8.035914,52.5254
31,5.72614,767.787,South Sudan,-1.0,0.385,191.0,5.54251,54.9752

In [68]:
# cambiamos los nombres de los encabezados de tal manera que no hayan espacios, y también reseteamos el orden de las columnas
data_integrada = data_integrada.rename(columns={'Gross national income (GNI) per capita':'GNI_per_capita_2021',
                                                'Human Development Index (HDI) ':'HDI_2021',
                                                'Life expectancy at birth':'LEAB_2021',
                                                'HDI rank':'HDI_rank_2021','Country':'Country_2021',
                                                'GNI per capita rank minus HDI rank':'GNI_per_capita_rank_minus_HDI_rank_2021',
                                                'Expected years of schooling':'EYOS_2021',
                                                'Mean years of schooling':'MYOS_2021'})
cambiar_orden = ['HDI_rank_2021','Country_2021','HDI_2021','LEAB_2021','EYOS_2021','MYOS_2021',
                 'GNI_per_capita_2021','GNI_per_capita_rank_minus_HDI_rank_2021']
data_integrada = data_integrada[cambiar_orden]
data_integrada

,HDI_rank_2021,Country_2021,HDI_2021,LEAB_2021,EYOS_2021,MYOS_2021,GNI_per_capita_2021,GNI_per_capita_rank_minus_HDI_rank_2021
0,1.0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5.0
1,2.0,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6.0
2,3.0,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11.0
3,4.0,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0
4,5.0,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18.0
...,...,...,...,...,...,...,...,...
27,187.0,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4.0
28,188.0,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611,1.0
29,189.0,Niger,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0
30,190.0,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0
31,191.0,South Sudan,0.385,54.9752,5.54251,5.72614,767.787,-1.0

In [14]:
# 2) Cuando haya integrado los archivos anteriores, haga un merge entre ese archivo, y el archivo countryCODES.xlsx
# primero subo los archivos
import pandas as pd
from google.colab import files
uploaded2 = files.upload()

Saving countryCODES.xlsx to countryCODES (1).xlsx

In [64]:
country_codes = pd.read_excel('countryCODES.xlsx')
country_codes

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [65]:
merge1=data_integrada.merge(country_codes,left_on='Country_2021',right_on='Country')
merge1

Empty DataFrame
Columns: [HDI_rank_2021, Country_2021, HDI_2021, Life_expectancy_at_birth_2021, Expected_years_of_schooling_2021, Mean_years_of_schooling_2021, GNI_per_capita_2021, GNI_per_capita_rank_minus_HDI_rank_2021, Country, Officialstatename, InternetccTLD, iso2, iso3]
Index: []

In [ ]:
# este código debería botarme el merge de ambas tablas...

In [12]:
!pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.22.1-py3-none-any.whl.metadata (3.9 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Downloading rapidfuzz-3.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Downloading thefuzz-0.22.1-py3-none-any.whl (8.2 kB)
Downloading rapidfuzz-3.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 17.6 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.10.0 thefuzz-0.22.1

In [74]:
from thefuzz import process
def fuzzy_match(x, choices, scorer, cutoff):
  return process.extractOne(x, choices=choices, scorer=scorer, score_cutoff=cutoff)
data_integrada['matched_country'] = data_integrada['Country_2021'].apply(fuzzy_match,
                                                                         args=(country_codes['Country'],process.fuzz.token_sort_ratio, 85))
data_integrada['matched_country'] = data_integrada['matched_country'].apply(lambda x: x[0] if x else None)
merged_df = pd.merge(data_integrada, country_codes, left_on='matched_country', right_on='Country', how='left')
merged_df

,HDI_rank_2021,Country_2021,HDI_2021,LEAB_2021,EYOS_2021,MYOS_2021,GNI_per_capita_2021,GNI_per_capita_rank_minus_HDI_rank_2021,matched_country,Country,Officialstatename,InternetccTLD,iso2,iso3
0,1.0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5.0,SWITZERLAND,SWITZERLAND,The Swiss Confederation,.ch,CH,CHE
1,2.0,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6.0,NORWAY,NORWAY,The Kingdom of Norway,.no,NO,NOR
2,3.0,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11.0,ICELAND,ICELAND,Iceland,.is,IS,ISL
3,4.0,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0,None,NaN,NaN,NaN,NaN,NaN
4,5.0,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18.0,AUSTRALIA,AUSTRALIA,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4.0,BURUNDI,BURUNDI,The Republic of Burundi,.bi,BI,BDI
187,188.0,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611,1.0,CENTRAL AFRICAN REPUBLIC (THE),CENTRAL AFRICAN REPUBLIC (THE),The Central African Republic,.cf,CF,CAF
188,189.0,Niger,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0,None,NaN,NaN,NaN,NaN,NaN
189,190.0,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0,CHAD,CHAD,The Republic of Chad,.td,TD,TCD
190,191.0,South Sudan,0.385,54.9752,5.54251,5.72614,767.787,-1.0,SOUTH SUDAN,SOUTH SUDAN,The Republic of South Sudan,.ss,SS,SSD

In [71]:
# 3) Con los archivos fallecidosCOVID.csv,  haga un reporte mensual de fallecidos. Solo debe mostrar por fila el mes (y año) y cuanto fallecidos hubo en ese mes.

In [72]:
import pandas as pd
from google.colab import files
uploaded3 = files.upload()

Saving fallecidosCOVID.csv to fallecidosCOVID.csv

In [76]:
fallecidos_covid = pd.read_csv('fallecidosCOVID.csv',sep=';')
fallecidos_covid

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20240317,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203506.0
1,20240317,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203532.0
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203584.0
3,20240317,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101.0,212541.0
4,20240317,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203665.0
...,...,...,...,...,...,...,...,...,...,...
220913,20240317,20200809,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,40102.0,NaN
220914,20240317,20201028,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101.0,NaN
220915,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114.0,NaN
220916,20240317,20210414,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117.0,NaN
220917,20240317,20200819,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114.0,NaN

In [77]:
# vemos que las fechas están en formato YYMMDD pero los queremos en formato %Y-%M-%D
fallecidos_covid['FECHA_FALLECIMIENTO'] = pd.to_datetime(fallecidos_covid['FECHA_FALLECIMIENTO'], format='%Y%m%d')
# luego queremos poder extraer el año, mes y día de cada fecha
fallecidos_covid['Año'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.year
fallecidos_covid['Mes'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.month
fallecidos_covid['Día'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.day
fallecidos_covid['Mes_nombre'] = fallecidos_covid['Mes'].apply(lambda x: {
    1: 'Enero',
    2: 'Febrero',
    3: 'Marzo',
    4: 'Abril',
    5: 'Mayo',
    6: 'Junio',
    7: 'Julio',
    8: 'Agosto',
    9: 'Septiembre',
    10: 'Octubre',
    11: 'Noviembre',
    12: 'Diciembre'
}[x])
fallecidos_covid

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID,Año,Mes,Día,Mes_nombre
0,20240317,2022-02-19,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203506.0,2022,2,19,Febrero
1,20240317,2021-05-29,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203532.0,2021,5,29,Mayo
2,20240317,2021-06-23,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203584.0,2021,6,23,Junio
3,20240317,2021-08-24,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101.0,212541.0,2021,8,24,Agosto
4,20240317,2021-06-27,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203665.0,2021,6,27,Junio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220913,20240317,2020-08-09,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,40102.0,NaN,2020,8,9,Agosto
220914,20240317,2020-10-28,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101.0,NaN,2020,10,28,Octubre
220915,20240317,2020-05-15,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114.0,NaN,2020,5,15,Mayo
220916,20240317,2021-04-14,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117.0,NaN,2021,4,14,Abril
220917,20240317,2020-08-19,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114.0,NaN,2020,8,19,Agosto

In [78]:
# ahora genero mi tabla con el reporte mensual de fallecidos
reporte_mensual_fallecidos = fallecidos_covid.groupby(['Año','Mes','Mes_nombre']).size().reset_index(name='Fallecidos')
nuevo_orden_reporte = ['Año','Mes','Mes_nombre','Fallecidos']
reporte_mensual_fallecidos = reporte_mensual_fallecidos[nuevo_orden_reporte]
reporte_mensual_fallecidos

     Año  Mes  Mes_nombre  Fallecidos
0   2020    3       Marzo         181
1   2020    4       Abril        5134
2   2020    5        Mayo       16363
3   2020    6       Junio       17462
4   2020    7       Julio       18501
5   2020    8      Agosto       17668
6   2020    9  Septiembre        8437
7   2020   10     Octubre        4471
8   2020   11   Noviembre        3229
9   2020   12   Diciembre        3885
10  2021    1       Enero       11175
11  2021    2     Febrero       18645
12  2021    3       Marzo       20691
13  2021    4       Abril       23110
14  2021    5        Mayo       16692
15  2021    6       Junio        7722
16  2021    7       Julio        3481
17  2021    8      Agosto        1850
18  2021    9  Septiembre        1140
19  2021   10     Octubre        1066
20  2021   11   Noviembre        1107
21  2021   12   Diciembre        1283
22  2022    1       Enero        3562
23  2022    2     Febrero        3503
24  2022    3       Marzo        1299
25  2022    4       Abril         741
26  2022    5        Mayo         625
27  2022    6       Junio         542
28  2022    7       Julio        1025
29  2022    8      Agosto        1429
30  2022    9  Septiembre         892
31  2022   10     Octubre         429
32  2022   11   Noviembre         272
33  2022   12   Diciembre         423
34  2023    1       Enero         371
35  2023    2     Febrero         287
36  2023    3       Marzo         295
37  2023    4       Abril         337
38  2023    5        Mayo         323
39  2023    6       Junio         291
40  2023    7       Julio         258
41  2023    8      Agosto         249
42  2023    9  Septiembre          60
43  2023   10     Octubre          26
44  2023   11   Noviembre          33
45  2023   12   Diciembre          40
46  2024    1       Enero         249
47  2024    2     Febrero          62
48  2024    3       Marzo           2

In [80]:
# 4)  Use el mismo archivo anterior. Esta vez haga un reporte de fallecidos por mes, pero el tipo de
#     muerte debe estar en columnas separadas.
# ahora quiero sacar un reporte de fallecidos por mes pero incluyendo el tipo de muerte
reporte_fallecidos_causa = fallecidos_covid.groupby(['Año', 'Mes', 'Mes_nombre', 'CLASIFICACION_DEF'])['CLASIFICACION_DEF'].count().reset_index(name='Fallecidos')
reporte_fallecidos_causa = reporte_fallecidos_causa.pivot_table(index=['Año', 'Mes', 'Mes_nombre'],
                                                               columns='CLASIFICACION_DEF',
                                                               values='Fallecidos',
                                                               fill_value=0)
reporte_fallecidos_causa

CLASIFICACION_DEF    Criterio SINADEF  Criterio clínico  \
Año  Mes Mes_nombre
2020 3   Marzo                   35.0              52.0
     4   Abril                 1793.0             541.0
     5   Mayo                  6826.0            1152.0
     6   Junio                 5722.0             670.0
     7   Julio                 5012.0             609.0
     8   Agosto                4589.0             611.0
     9   Septiembre            1984.0             475.0
     10  Octubre               1091.0             463.0
     11  Noviembre              704.0             462.0
     12  Diciembre              802.0             547.0
2021 1   Enero                 2190.0             514.0
     2   Febrero               4993.0             501.0
     3   Marzo                 6100.0             525.0
     4   Abril                 7450.0             748.0
     5   Mayo                  5225.0             628.0
     6   Junio                 2723.0             116.0
     7   Julio                 1025.0             113.0
     8   Agosto                 578.0              75.0
     9   Septiembre             554.0              12.0
     10  Octubre                469.0              12.0
     11  Noviembre              441.0              16.0
     12  Diciembre              585.0               8.0
2022 1   Enero                 1894.0              22.0
     2   Febrero               1604.0              20.0
     3   Marzo                  352.0               6.0
     4   Abril                  131.0               9.0
     5   Mayo                    85.0               3.0
     6   Junio                   81.0               3.0
     7   Julio                  299.0               3.0
     8   Agosto                 405.0               6.0
     9   Septiembre             154.0              12.0
     10  Octubre                 53.0              59.0
     11  Noviembre               23.0               0.0
     12  Diciembre               66.0               0.0
2023 1   Enero                   34.0               1.0
     2   Febrero                  4.0               0.0
     3   Marzo                    6.0               0.0
     4   Abril                   17.0               0.0
     5   Mayo                     6.0               0.0
     6   Junio                    2.0               0.0
     7   Julio                    3.0               0.0
     8   Agosto                   7.0               0.0
     9   Septiembre               7.0               0.0
     10  Octubre                  8.0               0.0
     11  Noviembre               13.0               0.0
     12  Diciembre               17.0               0.0
2024 1   Enero                   35.0               0.0
     2   Febrero                  1.0               0.0
     3   Marzo                    0.0               0.0

CLASIFICACION_DEF    Criterio investigación Epidemiológica  \
Año  Mes Mes_nombre
2020 3   Marzo                                        25.0
     4   Abril                                       498.0
     5   Mayo                                       1427.0
     6   Junio                                      1706.0
     7   Julio                                      1512.0
     8   Agosto                                     1456.0
     9   Septiembre                                  755.0
     10  Octubre                                     469.0
     11  Noviembre                                   307.0
     12  Diciembre                                   171.0
2021 1   Enero                                       323.0
     2   Febrero                                     465.0
     3   Marzo                                       517.0
     4   Abril                                       591.0
     5   Mayo                                        349.0
     6   Junio                                       123.0
     7   Julio                                        67.0
     8   Agosto                                       22.0
     9   Septiembre                                    0.0
     10  Octubre                                       0.0
     11  Noviembre                                     0.0
     12  Diciembre                                     0.0
2022 1   Enero                                         0.0
     2   Febrero                                       0.0
     3   Marzo                                         0.0
     4   Abril                                         0.0
     5   Mayo                                          0.0
     6   Junio                                         0.0
     7   Julio                                         0.0
     8   Agosto                                        0.0
     9   Septiembre                                    0.0
     10  Octubre                                       0.0
     11  Noviembre                                     0.0
     12  Diciembre                                     0.0
2023 1   Enero                                         0.0
     2   Febrero                                       0.0
     3   Marzo                                         0.0
     4   Abril                                         0.0
     5   Mayo                                          0.0
     6   Junio                                         0.0
     7   Julio                                         0.0
     8   Agosto                                        0.0
     9   Septiembre                                    0.0
     10  Octubre                                       0.0
     11  Noviembre                                     0.0
     12  Diciembre                                     0.0
2024 1   Enero                                         0.0
     2   Febrero                                       0.0
     3   Marzo                                         0.0

CLASIFICACION_DEF    Criterio nexo epidemiológico  Criterio radiológico  \
Año  Mes Mes_nombre
2020 3   Marzo                                2.0                   7.0
     4   Abril                               68.0                 182.0
     5   Mayo                               203.0                 480.0
     6   Junio                              251.0                 391.0
     7   Julio                              262.0                 415.0
     8   Agosto                             208.0                 534.0
     9   Septiembre                         105.0                 233.0
     10  Octubre                             50.0                 172.0
     11  Noviembre                           37.0                 186.0
     12  Diciembre                           41.0                 179.0
2021 1   Enero                              107.0                 434.0
     2   Febrero                            150.0                 556.0
     3   Marzo                              229.0                 456.0
     4   Abril                              246.0                 363.0
     5   Mayo                               155.0                 283.0
     6   Junio                               51.0                 138.0
     7   Julio                               35.0                  68.0
     8   Agosto                              15.0                  36.0
     9   Septiembre                           0.0                   0.0
     10  Octubre                              0.0                   0.0
     11  Noviembre                            0.0                   0.0
     12  Diciembre                            0.0                   0.0
2022 1   Enero                                0.0                   0.0
     2   Febrero                              0.0                   0.0
     3   Marzo                                0.0                   0.0
     4   Abril                                0.0                   0.0
     5   Mayo                                 0.0                   0.0
     6   Junio                                0.0                   0.0
     7   Julio                                0.0                   0.0
     8   Agosto                               0.0                   0.0
     9   Septiembre                           0.0                   0.0
     10  Octubre                              0.0                   0.0
     11  Noviembre                            0.0                   0.0
     12  Diciembre                            0.0                   0.0
2023 1   Enero                                0.0                   0.0
     2   Febrero                              0.0                   0.0
     3   Marzo                                0.0                   0.0
     4   Abril                                0.0                   0.0
     5   Mayo                                 0.0                   0.0
     6   Junio                                0.0                   0.0
     7   Julio                                0.0                   0.0
     8   Agosto                               0.0                   0.0
     9   Septiembre                           0.0                   0.0
     10  Octubre                              0.0                   0.0
     11  Noviembre                            0.0                   0.0
     12  Diciembre                            0.0                   0.0
2024 1   Enero                                0.0                   0.0
     2   Febrero                              0.0                   0.0
     3   Marzo                                0.0                   0.0

CLASIFICACION_DEF    Criterio serológico  Criterio virológico  NotiCovid  \
Año  Mes Mes_nombre
2020 3   Marzo                       2.0                 58.0        0.0
     4   Abril                     778.0               1274.0        0.0
     5   Mayo                     3233.0               3042.0        0.0
     6   Junio                    5605.0               3117.0        0.0
     7   Julio                    7501.0               3190.0        0.0
     8   Agosto                   7400.0               2870.0        0.0
     9   Septiembre               3483.0               1402.0        0.0
     10  Octubre                  1417.0                809.0        0.0
     11  Noviembre                 867.0                666.0        0.0
     12  Diciembre                1047.0               1098.0        0.0
2021 1   Enero                    2448.0               5159.0        0.0
     2   Febrero                  2539.0               9441.0        0.0
     3   Marzo                    1703.0              11161.0        0.0
     4   Abril                    1488.0              12224.0        0.0
     5   Mayo                     1175.0               8877.0        0.0
     6   Junio                     746.0               3825.0        0.0
     7   Julio                     521.0               1652.0        0.0
     8   Agosto                    287.0                837.0        0.0
     9   Septiembre                190.0                384.0        0.0
     10  Octubre                   148.0                437.0        0.0
     11  Noviembre                 157.0                493.0        0.0
     12  Diciembre                 133.0                557.0        0.0
2022 1   Enero                      41.0               1605.0        0.0
     2   Febrero                     1.0               1878.0        0.0
     3   Marzo                       0.0                941.0        0.0
     4   Abril                       0.0                601.0        0.0
     5   Mayo                        0.0                537.0        0.0
     6   Junio                       0.0                458.0        0.0
     7   Julio                       0.0                723.0        0.0
     8   Agosto                      0.0               1018.0        0.0
     9   Septiembre                  0.0                726.0        0.0
     10  Octubre                     0.0                317.0        0.0
     11  Noviembre                   0.0                249.0        0.0
     12  Diciembre                   0.0                357.0        0.0
2023 1   Enero                       0.0                336.0        0.0
     2   Febrero                     0.0                283.0        0.0
     3   Marzo                       0.0                289.0        0.0
     4   Abril                       0.0                320.0        0.0
     5   Mayo                        0.0                317.0        0.0
     6   Junio                       0.0                289.0        0.0
     7   Julio                       0.0                255.0        0.0
     8   Agosto                      0.0                242.0        0.0
     9   Septiembre                  0.0                 53.0        0.0
     10  Octubre                     0.0                 18.0        0.0
     11  Noviembre                   0.0                 20.0        0.0
     12  Diciembre                   0.0                 22.0        1.0
2024 1   Enero                       0.0                 83.0      115.0
     2   Febrero                     0.0                 45.0       16.0
     3   Marzo                       0.0                  2.0        0.0

CLASIFICACION_DEF    sinadef
Año  Mes Mes_nombre
2020 3   Marzo           0.0
     4   Abril           0.0
     5   Mayo            0.0
     6   Junio           0.0
     7   Julio           0.0
     8   Agosto          0.0
     9   Septiembre      0.0
     10  Octubre         0.0
     11  Noviembre       0.0
     12  Diciembre       0.0
2021 1   Enero           0.0
     2   Febrero         0.0
     3   Marzo           0.0
     4   Abril           0.0
     5   Mayo            0.0
     6   Junio           0.0
     7   Julio           0.0
     8   Agosto          0.0
     9   Septiembre      0.0
     10  Octubre         0.0
     11  Noviembre       0.0
     12  Diciembre       0.0
2022 1   Enero           0.0
     2   Febrero         0.0
     3   Marzo           0.0
     4   Abril           0.0
     5   Mayo            0.0
     6   Junio           0.0
     7   Julio           0.0
     8   Agosto          0.0
     9   Septiembre      0.0
     10  Octubre         0.0
     11  Noviembre       0.0
     12  Diciembre       0.0
2023 1   Enero           0.0
     2   Febrero         0.0
     3   Marzo           0.0
     4   Abril           0.0
     5   Mayo            0.0
     6   Junio           0.0
     7   Julio           0.0
     8   Agosto          0.0
     9   Septiembre      0.0
     10  Octubre         0.0
     11  Noviembre       0.0
     12  Diciembre       0.0
2024 1   Enero          16.0
     2   Febrero         0.0
     3   Marzo           0.0

In [81]:
# editamos la tabla
reporte_fallecidos_causa = reporte_fallecidos_causa.rename(columns={'Criterio SINADEF':'C_Sinadef',
                                                'Criterio clínico':'C_Clínico',
                                                'Criterio investigación Epidemiológica':'C_I_Epidemiológica',
                                                'Criterio nexo epidemiológico':'C_N_Epidemiológico','Criterio radiológico':'C_Radiológico',
                                                'Criterio serológico':'C_Serológico',
                                                'Criterio virológico':'C_Virológico',
                                                'NotiCovid':'NotiCovid','sinadef':'Sinadef'})
reporte_fallecidos_causa

CLASIFICACION_DEF    C_Sinadef  C_Clínico  C_I_Epidemiológica  \
Año  Mes Mes_nombre
2020 3   Marzo            35.0       52.0                25.0
     4   Abril          1793.0      541.0               498.0
     5   Mayo           6826.0     1152.0              1427.0
     6   Junio          5722.0      670.0              1706.0
     7   Julio          5012.0      609.0              1512.0
     8   Agosto         4589.0      611.0              1456.0
     9   Septiembre     1984.0      475.0               755.0
     10  Octubre        1091.0      463.0               469.0
     11  Noviembre       704.0      462.0               307.0
     12  Diciembre       802.0      547.0               171.0
2021 1   Enero          2190.0      514.0               323.0
     2   Febrero        4993.0      501.0               465.0
     3   Marzo          6100.0      525.0               517.0
     4   Abril          7450.0      748.0               591.0
     5   Mayo           5225.0      628.0               349.0
     6   Junio          2723.0      116.0               123.0
     7   Julio          1025.0      113.0                67.0
     8   Agosto          578.0       75.0                22.0
     9   Septiembre      554.0       12.0                 0.0
     10  Octubre         469.0       12.0                 0.0
     11  Noviembre       441.0       16.0                 0.0
     12  Diciembre       585.0        8.0                 0.0
2022 1   Enero          1894.0       22.0                 0.0
     2   Febrero        1604.0       20.0                 0.0
     3   Marzo           352.0        6.0                 0.0
     4   Abril           131.0        9.0                 0.0
     5   Mayo             85.0        3.0                 0.0
     6   Junio            81.0        3.0                 0.0
     7   Julio           299.0        3.0                 0.0
     8   Agosto          405.0        6.0                 0.0
     9   Septiembre      154.0       12.0                 0.0
     10  Octubre          53.0       59.0                 0.0
     11  Noviembre        23.0        0.0                 0.0
     12  Diciembre        66.0        0.0                 0.0
2023 1   Enero            34.0        1.0                 0.0
     2   Febrero           4.0        0.0                 0.0
     3   Marzo             6.0        0.0                 0.0
     4   Abril            17.0        0.0                 0.0
     5   Mayo              6.0        0.0                 0.0
     6   Junio             2.0        0.0                 0.0
     7   Julio             3.0        0.0                 0.0
     8   Agosto            7.0        0.0                 0.0
     9   Septiembre        7.0        0.0                 0.0
     10  Octubre           8.0        0.0                 0.0
     11  Noviembre        13.0        0.0                 0.0
     12  Diciembre        17.0        0.0                 0.0
2024 1   Enero            35.0        0.0                 0.0
     2   Febrero           1.0        0.0                 0.0
     3   Marzo             0.0        0.0                 0.0

CLASIFICACION_DEF    C_N_Epidemiológico  C_Radiológico  C_Serológico  \
Año  Mes Mes_nombre
2020 3   Marzo                      2.0            7.0           2.0
     4   Abril                     68.0          182.0         778.0
     5   Mayo                     203.0          480.0        3233.0
     6   Junio                    251.0          391.0        5605.0
     7   Julio                    262.0          415.0        7501.0
     8   Agosto                   208.0          534.0        7400.0
     9   Septiembre               105.0          233.0        3483.0
     10  Octubre                   50.0          172.0        1417.0
     11  Noviembre                 37.0          186.0         867.0
     12  Diciembre                 41.0          179.0        1047.0
2021 1   Enero                    107.0          434.0        2448.0
     2   Febrero                  150.0          556.0        2539.0
     3   Marzo                    229.0          456.0        1703.0
     4   Abril                    246.0          363.0        1488.0
     5   Mayo                     155.0          283.0        1175.0
     6   Junio                     51.0          138.0         746.0
     7   Julio                     35.0           68.0         521.0
     8   Agosto                    15.0           36.0         287.0
     9   Septiembre                 0.0            0.0         190.0
     10  Octubre                    0.0            0.0         148.0
     11  Noviembre                  0.0            0.0         157.0
     12  Diciembre                  0.0            0.0         133.0
2022 1   Enero                      0.0            0.0          41.0
     2   Febrero                    0.0            0.0           1.0
     3   Marzo                      0.0            0.0           0.0
     4   Abril                      0.0            0.0           0.0
     5   Mayo                       0.0            0.0           0.0
     6   Junio                      0.0            0.0           0.0
     7   Julio                      0.0            0.0           0.0
     8   Agosto                     0.0            0.0           0.0
     9   Septiembre                 0.0            0.0           0.0
     10  Octubre                    0.0            0.0           0.0
     11  Noviembre                  0.0            0.0           0.0
     12  Diciembre                  0.0            0.0           0.0
2023 1   Enero                      0.0            0.0           0.0
     2   Febrero                    0.0            0.0           0.0
     3   Marzo                      0.0            0.0           0.0
     4   Abril                      0.0            0.0           0.0
     5   Mayo                       0.0            0.0           0.0
     6   Junio                      0.0            0.0           0.0
     7   Julio                      0.0            0.0           0.0
     8   Agosto                     0.0            0.0           0.0
     9   Septiembre                 0.0            0.0           0.0
     10  Octubre                    0.0            0.0           0.0
     11  Noviembre                  0.0            0.0           0.0
     12  Diciembre                  0.0            0.0           0.0
2024 1   Enero                      0.0            0.0           0.0
     2   Febrero                    0.0            0.0           0.0
     3   Marzo                      0.0            0.0           0.0

CLASIFICACION_DEF    C_Virológico  NotiCovid  Sinadef
Año  Mes Mes_nombre
2020 3   Marzo               58.0        0.0      0.0
     4   Abril             1274.0        0.0      0.0
     5   Mayo              3042.0        0.0      0.0
     6   Junio             3117.0        0.0      0.0
     7   Julio             3190.0        0.0      0.0
     8   Agosto            2870.0        0.0      0.0
     9   Septiembre        1402.0        0.0      0.0
     10  Octubre            809.0        0.0      0.0
     11  Noviembre          666.0        0.0      0.0
     12  Diciembre         1098.0        0.0      0.0
2021 1   Enero             5159.0        0.0      0.0
     2   Febrero           9441.0        0.0      0.0
     3   Marzo            11161.0        0.0      0.0
     4   Abril            12224.0        0.0      0.0
     5   Mayo              8877.0        0.0      0.0
     6   Junio             3825.0        0.0      0.0
     7   Julio             1652.0        0.0      0.0
     8   Agosto             837.0        0.0      0.0
     9   Septiembre         384.0        0.0      0.0
     10  Octubre            437.0        0.0      0.0
     11  Noviembre          493.0        0.0      0.0
     12  Diciembre          557.0        0.0      0.0
2022 1   Enero             1605.0        0.0      0.0
     2   Febrero           1878.0        0.0      0.0
     3   Marzo              941.0        0.0      0.0
     4   Abril              601.0        0.0      0.0
     5   Mayo               537.0        0.0      0.0
     6   Junio              458.0        0.0      0.0
     7   Julio              723.0        0.0      0.0
     8   Agosto            1018.0        0.0      0.0
     9   Septiembre         726.0        0.0      0.0
     10  Octubre            317.0        0.0      0.0
     11  Noviembre          249.0        0.0      0.0
     12  Diciembre          357.0        0.0      0.0
2023 1   Enero              336.0        0.0      0.0
     2   Febrero            283.0        0.0      0.0
     3   Marzo              289.0        0.0      0.0
     4   Abril              320.0        0.0      0.0
     5   Mayo               317.0        0.0      0.0
     6   Junio              289.0        0.0      0.0
     7   Julio              255.0        0.0      0.0
     8   Agosto             242.0        0.0      0.0
     9   Septiembre          53.0        0.0      0.0
     10  Octubre             18.0        0.0      0.0
     11  Noviembre           20.0        0.0      0.0
     12  Diciembre           22.0        1.0      0.0
2024 1   Enero               83.0      115.0     16.0
     2   Febrero             45.0       16.0      0.0
     3   Marzo                2.0        0.0      0.0

In [87]:
columnas_numericas = ['C_Sinadef','C_Clínico','C_I_Epidemiológica','C_N_Epidemiológico','C_Radiológico',
                      'C_Serológico','C_Virológico','NotiCovid','Sinadef']
reporte_fallecidos_causa[columnas_numericas] = reporte_fallecidos_causa[columnas_numericas].astype(int)
reporte_fallecidos_causa

CLASIFICACION_DEF    C_Sinadef  C_Clínico  C_I_Epidemiológica  \
Año  Mes Mes_nombre
2020 3   Marzo              35         52                  25
     4   Abril            1793        541                 498
     5   Mayo             6826       1152                1427
     6   Junio            5722        670                1706
     7   Julio            5012        609                1512
     8   Agosto           4589        611                1456
     9   Septiembre       1984        475                 755
     10  Octubre          1091        463                 469
     11  Noviembre         704        462                 307
     12  Diciembre         802        547                 171
2021 1   Enero            2190        514                 323
     2   Febrero          4993        501                 465
     3   Marzo            6100        525                 517
     4   Abril            7450        748                 591
     5   Mayo             5225        628                 349
     6   Junio            2723        116                 123
     7   Julio            1025        113                  67
     8   Agosto            578         75                  22
     9   Septiembre        554         12                   0
     10  Octubre           469         12                   0
     11  Noviembre         441         16                   0
     12  Diciembre         585          8                   0
2022 1   Enero            1894         22                   0
     2   Febrero          1604         20                   0
     3   Marzo             352          6                   0
     4   Abril             131          9                   0
     5   Mayo               85          3                   0
     6   Junio              81          3                   0
     7   Julio             299          3                   0
     8   Agosto            405          6                   0
     9   Septiembre        154         12                   0
     10  Octubre            53         59                   0
     11  Noviembre          23          0                   0
     12  Diciembre          66          0                   0
2023 1   Enero              34          1                   0
     2   Febrero             4          0                   0
     3   Marzo               6          0                   0
     4   Abril              17          0                   0
     5   Mayo                6          0                   0
     6   Junio               2          0                   0
     7   Julio               3          0                   0
     8   Agosto              7          0                   0
     9   Septiembre          7          0                   0
     10  Octubre             8          0                   0
     11  Noviembre          13          0                   0
     12  Diciembre          17          0                   0
2024 1   Enero              35          0                   0
     2   Febrero             1          0                   0
     3   Marzo               0          0                   0

CLASIFICACION_DEF    C_N_Epidemiológico  C_Radiológico  C_Serológico  \
Año  Mes Mes_nombre
2020 3   Marzo                        2              7             2
     4   Abril                       68            182           778
     5   Mayo                       203            480          3233
     6   Junio                      251            391          5605
     7   Julio                      262            415          7501
     8   Agosto                     208            534          7400
     9   Septiembre                 105            233          3483
     10  Octubre                     50            172          1417
     11  Noviembre                   37            186           867
     12  Diciembre                   41            179          1047
2021 1   Enero                      107            434          2448
     2   Febrero                    150            556          2539
     3   Marzo                      229            456          1703
     4   Abril                      246            363          1488
     5   Mayo                       155            283          1175
     6   Junio                       51            138           746
     7   Julio                       35             68           521
     8   Agosto                      15             36           287
     9   Septiembre                   0              0           190
     10  Octubre                      0              0           148
     11  Noviembre                    0              0           157
     12  Diciembre                    0              0           133
2022 1   Enero                        0              0            41
     2   Febrero                      0              0             1
     3   Marzo                        0              0             0
     4   Abril                        0              0             0
     5   Mayo                         0              0             0
     6   Junio                        0              0             0
     7   Julio                        0              0             0
     8   Agosto                       0              0             0
     9   Septiembre                   0              0             0
     10  Octubre                      0              0             0
     11  Noviembre                    0              0             0
     12  Diciembre                    0              0             0
2023 1   Enero                        0              0             0
     2   Febrero                      0              0             0
     3   Marzo                        0              0             0
     4   Abril                        0              0             0
     5   Mayo                         0              0             0
     6   Junio                        0              0             0
     7   Julio                        0              0             0
     8   Agosto                       0              0             0
     9   Septiembre                   0              0             0
     10  Octubre                      0              0             0
     11  Noviembre                    0              0             0
     12  Diciembre                    0              0             0
2024 1   Enero                        0              0             0
     2   Febrero                      0              0             0
     3   Marzo                        0              0             0

CLASIFICACION_DEF    C_Virológico  NotiCovid  Sinadef
Año  Mes Mes_nombre
2020 3   Marzo                 58          0        0
     4   Abril               1274          0        0
     5   Mayo                3042          0        0
     6   Junio               3117          0        0
     7   Julio               3190          0        0
     8   Agosto              2870          0        0
     9   Septiembre          1402          0        0
     10  Octubre              809          0        0
     11  Noviembre            666          0        0
     12  Diciembre           1098          0        0
2021 1   Enero               5159          0        0
     2   Febrero             9441          0        0
     3   Marzo              11161          0        0
     4   Abril              12224          0        0
     5   Mayo                8877          0        0
     6   Junio               3825          0        0
     7   Julio               1652          0        0
     8   Agosto               837          0        0
     9   Septiembre           384          0        0
     10  Octubre              437          0        0
     11  Noviembre            493          0        0
     12  Diciembre            557          0        0
2022 1   Enero               1605          0        0
     2   Febrero             1878          0        0
     3   Marzo                941          0        0
     4   Abril                601          0        0
     5   Mayo                 537          0        0
     6   Junio                458          0        0
     7   Julio                723          0        0
     8   Agosto              1018          0        0
     9   Septiembre           726          0        0
     10  Octubre              317          0        0
     11  Noviembre            249          0        0
     12  Diciembre            357          0        0
2023 1   Enero                336          0        0
     2   Febrero              283          0        0
     3   Marzo                289          0        0
     4   Abril                320          0        0
     5   Mayo                 317          0        0
     6   Junio                289          0        0
     7   Julio                255          0        0
     8   Agosto               242          0        0
     9   Septiembre            53          0        0
     10  Octubre               18          0        0
     11  Noviembre             20          0        0
     12  Diciembre             22          1        0
2024 1   Enero                 83        115       16
     2   Febrero               45         16        0
     3   Marzo                  2          0        0